/*
.header must have a font size of 46px
.footer must have a font size of 10px
.content must have a font size of 14px
.navigation must have a font size of 12px
.sidebar must have a font size of 10px
*/


html {
    font-size:  14px;
}

.contenido {
    margin: 0 auto;
    max-width: 70rem;
    width: 90%;
    overflow: auto;
}


body {
    font-family: sans-serif;
    font-size: 14px;
    text-align: center;
    background-color: rgb(173, 166, 166);
    margin-left:  auto;
    margin-right: auto;
   
}

.header {
    background: rgb(240, 240, 20);
    font-size: 46;
    clear:both;
    border: 1px solid black;
    border-radius: 15px;
    margin: 2.5%;
    padding: 5% 2.5%;
    
}

.content {
    background: aqua;
    width: 60%;
    font-size: 14px; 
    float: left;
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 15px;
    margin-left: 2.5%;
    margin-right: auto;
    padding: 2.5% 2.5%;    
}

.content>*:not(p) {
    margin: 5% 2.5%;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 2.5% 2.5%;
}

.navigation  {
    background:yellow;
    color: white;
    width: 20%;
    font-size: 12px;
    float: left;
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 2.5% 2.5%;   
}


.sidebar {
    background: blueviolet;
    width: 15%;
    font-size: 10px;
    float: right;   
    border: 1px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    padding: 2.5% 2.5%;
    min-height: 13em;
}

.footer {
    background: red;
    font-size: 10px;
    clear: both;
    margin: 2.5%;
    padding: 1% 0%;
    float: bottom;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    border-radius: 15px;
  
}

#mainContent {
   margin: 2.5% 2.5% 2.5% 2.5%;
   overflow: auto;
   zoom: 1;
}

#mainContent>* {
   height: 30rem; 
   overflow: auto;
   zoom: 1;
}
p {
    word-break: break-all;
}
 

/* 4 If the class attribute finishes with r (example header, footer, sidebar), the background must be magenta.  */
*[class$="r"]{
    background: magenta;
}


/* 5 If the class attribute contains an a (example nav) but do NOT finish with r, the background must be blue. */
*[class*="a"]:not([class$="r"]) {
    background: blue;
}
 
/*6 How could you add weight to the global font definition to win over the classes added by point 3? */
html {
    font-weight: bold !important; 
}

/* 7 Imagine there is a declaration like class=”oh-no-inline-styles” 
style=”background:red” and you need to 
change the background to green withoutchanging the inline style.
 How could you accomplish this? */


.oh-no-inline-styles {
     background: green !important;
 }


